/* Foresmo Install CSS */

/* Reset from Eric Meyer:
http://meyerweb.com/eric/tools/css/reset/
----------------------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
border:0;
outline:0;
font-size:100%;
font-family:inherit;
margin:0;
padding:0;
}

body {
font-size:12px;
font-family: Tahoma, Verdana, sans-serif;
color:#222;
background-color:#fefefe;
text-align:left;
margin:0 auto;
}

#install {
border:2px solid #777;
margin: 20px auto;
width: 200px;
padding: 10px;
}

h4 {
font-size: 1.15em;
margin-bottom: 10px;
}

input, select {
border: 1px solid #222;
padding:2px;
font-weight: bold;
font-size: 10px;
margin: 4px;
}