/**
 * Foresmo Blog Engine
 * Default Blog Theme
 * by Anthony Gentile
 * Redlink Technology Solutions, LLP
 */
/*Reset from Eric Meyer:
http://meyerweb.com/eric/tools/css/reset/
----------------------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
{
  border:0;
  outline:0;
  font-size:100%;
  font-family:inherit;
  margin:0;
  padding:0;
}

*
{
  margin:0;
  padding:0;
}

/* General Style Info */
body
{
  background:#fff;
  color:#222;
  font-family:verdana,helvetica,sans-serif;
  line-height:1.5em;
  letter-spacing:.05em;
  font-size:.9em;
  margin:0;
}

a
{
  color:#5e8ca6;
  text-decoration:none;
}

a:hover
{
  color:#069;
  text-decoration:none;
}

h1,h2,h3,h4
{
  font-weight:400;
}

h1
{
  color:#222;
  font-size:130%;
  margin:.1em 0;
  font-weight:300;
}

h2
{
  color:#222;
  font-size:120%;
  margin:.1em 0;
  font-weight:300;
}

h3
{
  color:#222;
  font-size:110%;
  margin:.1em 0;
  font-weight:300;
}

h4
{
  color:#222;
  font-weight:400;
  padding-top:.5em;
}

ul,li
{
  margin:0 12px;
}

/* Layout */
#container
{
  width:100%;
  text-align:left;
  background-color:#fff;
  margin:0 auto;
}

#topbar
{
  position:fixed;
  top: 0px;
  width:100%;
  height:5px;
  background-color:#000;
  margin-bottom:5px;
}

#content-bar
{
  width:100%;
  border-bottom:1px solid #888;
  background-color:#fff;
  float:left;
}

#content-bar span
{
  float:right;
  margin-right:10px;
  margin-left:5px;
  text-transform:uppercase;
}

#content-bar span a
{
  text-decoration:none;
  color:#222;
}

#content-bar span a:hover
{
  text-decoration:none;
  color:#999;
}

#header
{
  width:960px;
  height:30px;
  padding-top:20px;
  margin: 0 auto;
}

#header span
{
  font-family:Constantia, Georgia;
  font-size:1.8em;
  float:right;
  color:#000;
}

hr
{
  border:none 0;
  border-top:1px dashed #888;
  width:100%;
  height:1px;
  margin-top:15px;
  margin-bottom:15px;
  clear: both;
}

#content-container
{
  background-color:#fff;
  width:980px;
  height:100%;
  margin:0 auto;
}

#content
{
  width:700px;
  background:#fff;
  color:#333;
  padding:10px 5px 40px;
  text-align:justify;
  float:left;
}

#content-right
{
  width:200px;
  color:#eee;
  padding:10px 20px 40px;
  float:left;
}

#content-right a
{
  color:#5e8ca6;
  text-decoration:none;
}

#content-right a:hover
{
  color:#eee;
  text-decoration:none;
}

#content-right span
{
  font-family:verdana;
  font-size:.9em;
  font-weight:700;
}

#content-right ul
{
  font-family:verdana;
  font-size:1em;
  list-style-type:none;
}

#content-right ul li
{
  font-size:.8em;
}

#footer
{
  position:fixed;
  width:100%;
  height:5px;
  bottom:0;
}

#bottom-bar
{
  width:100%;
  height:5px;
  margin:0 auto;
  background-color:#000;
}

#pages
{
  text-align:center;
}

.title_text a{
    color:#222;
}

.title_text a:hover{
    color:#222;
}

.pagination
{
  padding:1px 2px;
  border:1px solid #069;
  text-align:center;
  margin-right:5px;
}

.pagination:hover
{
  border:1px solid #28506d;
}

.comment_count
{
  padding-top:10px;
  width:40px;
  text-align:center;
  font-size:1.3em;
  clear:both;
  float:left;
}

.comment
{
  width:100%;
  padding:5px;
  background:#FAFAFA;
  margin-bottom:15px;
  color:#222;
  float:left;
}

.comment-author {
    float:left;
    width:20%;
}

.comment-message {
    float:left;
    width:70%;
}

.comment-link {
    float:right;
    width:10%;
}

.comment a
{
  color:#069;
}

.comment a:hover
{
  color:#28506d;
}

.odd
{
  border-top:5px solid #999;
}

.even
{
  border-top:5px solid #CCC;
}

.admin
{
  border-top:5px solid #069;
}

/* Tables */
table
{
  background:#fff;
  border:1px solid #ccc;
  border-right:0;
  clear:both;
  color:#333;
  margin-bottom:10px;
  width:100%;
}

th
{
  background:#f2f2f2;
  border:1px solid #bbb;
  border-top:1px solid #fff;
  border-left:1px solid #fff;
  text-align:center;
}

th a
{
  background:#f2f2f2;
  display:block;
  padding:2px 4px;
  text-decoration:none;
}

th a:hover
{
  background:#ccc;
  color:#333;
  text-decoration:none;
}

table tr td
{
  background:#fff;
  border-right:1px solid #ccc;
  padding:1px;
  text-align:center;
  vertical-align:top;
}

/* Nav Tabs */

/* START TAB BUTTONS AND PANEL */
.tab {
    display: none;
}

.tab_active {
    display: inline;
}

#push {
    margin-left: 20px;
    height: 50px;
}

ul#tabControl {
    width:100%;
    list-style-type: none;
    height: 1.5em;
    margin: 0;
    padding: 0;
}

ul#tabControl li {
    float: left;
    height: 20px;
    text-align: center;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    margin-right: 0px;
    margin-left:0px;
    padding: 2px 5px 2px 5px;
}

li.first{
    border-left: 1px solid #999;
}

ul#tabControl li:hover {
    float: left;
    height: 20px;
    text-align: center;
    background-color:#fafafa;
    border-top: 1px solid #888;
    border-right: 1px solid #888;
    margin-right: 0px;
    padding: 2px 5px 2px 5px;
}

ul#tabControl li a {
    color: #555;
    text-decoration: none;
}

ul#tabControl li a:hover,ul#tabControl li a:active,ul#tabControl li a:focus
    {
    color: #006699;
    text-decoration: none;
}
li.right{
    float:right;
}
/* Forms */

dd ul, ul.failure {
    list-style-type: none;
    color: #990000;
}
ul.success {
    list-style-type: none;
    color: #009900;
    background-color: #fff;
}

.spam_empty {
    display:none;
}

form
{
  clear:both;
  margin-right:20px;
  padding:0;
  width:80%;
}

fieldset
{
  border:1px solid #ccc;
  margin-top:20px;
  padding:8px 10px;
}

fieldset legend
{
  background:#fff;
  color:#e32;
  font-size:100%;
  font-weight:700;
}

fieldset fieldset
{
  margin-top:0;
  margin-bottom:20px;
  padding:8px 10px;
}

fieldset fieldset legend
{
  font-size:100%;
  font-weight:400;
}

fieldset fieldset div
{
  margin:0 20px;
}

form div
{
  clear:both;
  margin-bottom:2px;
  vertical-align:text-top;
}

form div.input
{
  color:#444;
}

form div.required
{
}

form div.submit
{
  border:0;
  clear:both;
  margin-top:10px;
  margin-left:100px;
}

label
{
  font-size:100%;
  padding-right:20px;
}

input
{
  font-size:100%;
  font-family:verdana, sans-serif;
  padding:2px;
  width:250px;
  border:1px solid #222;
  margin-right:5px;
}

textarea
{
  clear:both;
  font-size:100%;
  font-family:verdana, sans-serif;
  padding:2px;
  width:300px;
  border:1px solid #222;
}

select
{
  clear:both;
  font-size:100%;
  vertical-align:text-bottom;
}

select[multiple=multiple]
{
  width:100%;
}

option
{
  font-size:100%;
  padding:0 3px;
}

input[type=checkbox]
{
  clear:left;
  float:left;
  margin:0 6px 7px 2px;
  width:auto;
}

input[type=radio]
{
  float:left;
  width:auto;
  margin:0 3px 7px 0;
}

div.radio label
{
  margin:0 0 6px 20px;
}

input[type=submit]
{
  display:inline;
  font-size:100%;
  padding:2px 3px;
  width:auto;
  vertical-align:bottom;
  cursor: pointer;
}

/* Notices and Errors */
div.message
{
  clear:both;
  color:#900;
  font-size:140%;
  font-weight:700;
  margin:1em 0;
}

div.error-message
{
  clear:both;
  color:#900;
  font-weight:700;
}

p.error
{
  background-color:#e32;
  color:#fff;
  font-family:Courier, monospace;
  font-size:120%;
  line-height:140%;
  padding:.8em;
  margin:1em 0;
}

p.error em
{
  color:#000;
  font-weight:400;
  line-height:140%;
}

.notice
{
  background:#fc0;
  color:#000;
  display:block;
  font-family:Courier, monospace;
  font-size:120%;
  line-height:140%;
  padding:.8em;
  margin:1em 0;
}

.success
{
  background:green;
  color:#fff;
}

.errors
{
  font-weight:700;
  color:#900;
}

ol.code
{
  width:100%;
  padding:0;
  font-size:.75em;
  line-height:1.8em;
  overflow:hidden;
  color:#939399;
  text-align:left;
  list-style-position:inside;
  border:1px solid #d3d3d0;
}

ol.code li
{
  float:left;
  clear:both;
  width:99%;
  white-space:nowrap;
  margin:0;
  padding:0 0 0 1%;
  background:#fff;
}

ol.code li.even
{
  background:#f3f3f0;
}

ol.code li code
{
  font:1.2em courier, monospace;
  color:#c30;
  white-space:pre;
  padding-left:.5em;
}

.code .comment
{
  color:#939399;
}

.code .default
{
  color:#44c;
}

.code .keyword
{
  color:#373;
}

.code .string
{
  color:#c30;
}

/* Module ---------*/

#module {
    border: 1px dashed #222;
    padding:2px 3px;
    text-align:right;
    margin-top: 10px;
    color: #222;
}

#module_calendar {
    font-size: 70%;
}